/* .text-md {
    color: var(--cor-vermelho);
} */

header {
    background-color: var(--cor-vermelho);
    width: var(--largura-padrao);
    padding: 20px 10px 20px 10px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
}

.logo {
    width: 100px;
    height: 100px;
}